h1 {
    font-size: 32px;
    color: red
}

h2 {
    font-size: 28px;
    color: green
}

ol {
    font-size: 16px;
}

p {
    font-size: 12px;
}

img {
     width: 200px;
     height: 150px;
    
}

body {
    font-family:Helvetica ;
}

.verde {
    color: green
}

.marrom {
    color: brown
}

.azul {
    color: blue
}

.amarelo {
    color: yellow
}

.laranja {
    color: orange
}

