h1 {
    font-size: 42px;
    color: #ff00ff;
}

h2 {
    font-size: 20px;
    color: #00ff00
}

img {
    width: 200px;
    height: 150px;
}

ul {
    background-color: #eeeeee;
}

.laranja {
    color: orange
}

.marrom {
    color: brown
}

a {
    color: #ff00ff;
}