html, body {
    margin: 0;
    padding: 0;
}

/* div {
    height: 100px;
    background-color: black;
} */

div {
    width: 100%;
    height: 100px;
    background-color: #FF0000;
}
.leftFloat {
    float: left;
}

.verde {
    background-color: green
}

.azul {
    background-color: blue
}

.preto {
    background-color:black
}

.vermelho {
    background-color: red
}

.amarelo {
    background-color: yellow
}

.cinza {
    background-color: gray
}

.aquaa {
    background-color: aqua
}

.marrom {
    background-color: brown
}

.roxo {
    background-color: purple;
}

.laranja {
    background-color: orange
}

.rosa {
    background-color: pink;
}

.marinho {
    background-color:slategray
}

 .col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-100 {
    width: 100%;
} 

